@import '~bulma/sass/utilities/_all';

$anim-time: 0.25s;

#page-store-view {
    .navbar {
        border-bottom: 1px solid $border;

        .navbar-item.is-expanded {
            padding-right: 0;
        }
    }

    .snippet {
        .title {
            height: 1.75rem;
            margin-bottom: 0.5rem;
        }

        .edit-button {
            opacity: 0;
            transition: opacity $anim-time;
        }
        &:hover .edit-button {
            opacity: 1;
        }

        .content-container {
            position: relative;
            margin-bottom: 0.5rem;

            p { white-space: pre-line; }
        }

        .copy-button {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;

            background: $grey-lighter;
            opacity: 0;

            border-radius: $radius-large;

            transition: opacity $anim-time;

            &:hover {
                opacity: 0.75;
            }

            &:after { content: "Click to Copy"; }

            &.copy-success {
                color: $success-invert;
                background-color: $success;

                &:after { content: "Copied!"; }
            }

            &.copy-fail {
                color: $danger-invert;
                background-color: $danger;

                &:after { content: "Failed!"; }
            }
        }

        .tags a {
            margin: 0 0.25rem;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

#create-new-snippet-modal, #edit-snippet-modal {
    .tags-input input:first-child {
        padding-left: $control-padding-horizontal;
    }
}
