#page-store-view

    nav.navbar
        .container
            .navbar-item
                h1.title#title

            .navbar-item.is-expanded
                input.input#search-input(type='search', placeholder='Search')
            .navbar-item
                a.button#create-new-snippet New Snippet

    section.section
        .container
            #snippets-no-results.notification.is-hidden No snippets found
            #snippets-error.notification.is-danger.is-hidden TOBEOVERRIDDEN
            #snippets.columns.is-multiline.is-spinner
