#page-store-view

    #main-spinner.is-spinner

    section#main-content.section.is-hidden
        .container
            .columns
                .column.is-10
                    h1.title#title
                    p#description
                .column.is-narrow.create-new-snippet-button-container
                    a.button.is-primary.is-large#create-new-snippet New Snippet

            hr

        .container#form-box
            input.input#search-input(type='search', placeholder='Search')

            .field.has-addons#sort-buttons
                p.control
                    button.button#sort-alpha Alphabetic
                p.control
                    button.button#sort-pop Popularity

        .container
            #page-error.notification.is-danger.is-hidden TOBEOVERRIDDEN
            #snippets-no-results.notification.is-hidden No snippets found
            #snippets-error.notification.is-danger.is-hidden TOBEOVERRIDDEN
            #snippets.columns.is-multiline.is-spinner
