each snippet in snippets
    .snippet.column.is-half(id=snippet.id)
        .box
            a.is-pulled-right.button.is-small.is-white.has-text-grey-light.edit-button Edit
            h2.title.is-5= snippet.title
            .box.content-container
                p.is-marginless.content= snippet.content
                .copy-button.is-size-4
            if snippet.tags
                .tags
                    each tag in snippet.tags
                        a= '#' + tag
