@import '~bulma';
@import '~@creativebulma/bulma-tagsinput/src/sass/index';

.is-spinner {
    position: relative;
    pointer-events: none;

    &:after {
        @include loader;
        position: absolute;
        top: calc(50% + 2.5rem);
        left: calc(50% - 2.5rem);
        width: 5rem;
        height: 5rem;
        border-width: 0.25rem;
    }
}

#root {
    min-height: calc(100vh - 3rem);
}

.footer {
    padding: 1rem 0;
    line-height: 1rem;
    height: 3rem;
    bottom: 0;
    position: static;
}
