html(lang='en')
    include templates/include-header.pug
        title Snippet Store

    body
        #root

        noscript
            section.hero.is-fullheight
                .hero-body
                    .container.has-text-centered
                        h1.title This WebApp requires JavaScript.
                        a(href='https://www.enable-javascript.com/') How to enable JavaScript
