html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        title Page Not Found | Snippet Store

    body
        section.hero.is-fullheight
            .hero-body
                .container.has-text-centered
                    h1.title Page Not Found
                    p Sorry, we couldn't find a page with that URL.
                    p
                        a(href='/') Click here to head back to the home page.
