#page-landing {
    #header {
        .title {
            font-size: 5rem;
            margin-bottom: 3rem;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
